<h2>Onze hoofdzetel</h2>
<p>straat : @ViewBag.HoofdZetel.Straat</p>
<p>Huisnr : @ViewBag.HoofdZetel.HuisNr</p>
<p>Postcode : @ViewBag.HoofdZetel.Postcode</p>
<p>Gemeente :@ViewBag.HoofdZetel.Gemeente</p>
