<div class="jumbotron">
    <h1>Cookies</h1>
    <p class="lead">Session en applicationvariabele werd gewist.</p>
    <p><a href="~/Home/Index" class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a></p>
</div>
